@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
  --black: #000;
  --white: #fff;
}

body {
  font: 12px Helvetica, Arial, sans-serif;
  font-family: 'Roboto', sans-serif;
}

a.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
